@import "~common/constants";

.EssayThumbnail {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  box-shadow: rgba(black, .2) 0 0 4px;
  overflow: hidden;

  .body {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 1rem;

    .college {
      font-size: $font-size-small;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .prompt {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .content {
      font-size: $font-size-small;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 12rem;
      background-image: linear-gradient(to top, white, rgba(white, 0));
    }
  }

  .head {
    position: relative;
    color: $color-font;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    box-shadow: rgba(black, .2) 0 0 4px;

    .profile {
      display: flex;
      align-items: center;

      .picture {
        width: $font-size-large;
        height: $font-size-large;
        margin-right: .2rem;
        border: 2px solid white;
        border-radius: $font-size-large;
        box-sizing: content-box;

        & + .picture {
          margin-left: -.8rem;
        }
      }

      .name {
        font-size: $font-size-small;

        & + .name {
          &:before {
            content: ' and ';
            color: $color-font-dim;
          }
        }
      }

    }

    .applicant,
    .reviewer {
      display: flex;
      align-items: center;
      padding: .4rem .6rem;
    }

    .applicant {
      justify-content: space-between;

      .decision {
        font-size: $font-size-small;
        text-transform: capitalize;
        font-weight: bold;

        &.accepted {
          color: $color-accepted;
        }

        &.rejected {
          color: $color-rejected;
        }

        &.waitlisted {
          color: $color-waitlisted;
        }
      }

      .deadline {
        font-size: $font-size-small;
        font-weight: bold;

        &:before {
          content: 'Due on ';
          color: $color-font-dim;
          font-weight: normal;
        }
      }
    }

    .reviewer {
      margin-top: -.6rem;
      justify-content: flex-start;

      &:after {
        content: ' reviewed.';
        font-size: $font-size-small;
        color: $color-font-dim;
      }
    }
  }
}
