@import "~common/constants";

.Button {
  background-color: $color-highlight;
  border: none;
  border-radius: 3px;
  height: 2.5rem;
  font-size: $font-size-small;
  padding: 0 1rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-bottom: 0;
  }

  .icon {
    font-size: $font-size-large;
    margin-right: .5rem;
  }
}
