@import "~common/constants";

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $color-background;
  color: $color-font;

  .navigation {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: $height-navigation;
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: white;
    text-shadow: rgba(black, .5) 0 0 4px;
    transition: all .2s;

    &.sticky {
      background-color: white;
      color: $color-font;
      text-shadow: none;
      box-shadow: rgba(black, .5) 0 0 4px;

      .menu {
        .item {
          &:after {
            background-color: $color-font;
          }
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      margin-right: 4rem;
      font-size: $font-size-large;

      .icon {
        margin-right: .2rem;
      }

      .title {
      }
    }

    .menu {
      list-style: none;
      display: flex;
      align-items: stretch;
      margin: 0 4rem 0 0;

      .item {
        position: relative;
        padding: 0 1rem;
        display: flex;
        align-items: center;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: .2rem;
          background-color: white;
          transition: width .2s;
        }

        &:hover,
        &.selected {
          &:after {
            width: 100%;
          }
        }
      }
    }

    .profile {
      display: flex;
      align-items: center;

      .picture {
        width: 2rem;
        height: 2rem;
        margin-right: .4rem;
        border-radius: 2rem;
      }

      .icon {
        margin-right: .5rem;
      }

      .name {

      }
    }
  }

  .page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
