@import "~common/constants";

.Survey {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: $font-size-medium;
  color: $color-secondary;
  min-height: 100vh;

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color-primary;
    padding: 2rem;

    .logo {
      display: flex;
      align-items: center;
      color: white;

      .image {
        height: 2rem;
        margin-right: .25rem;
      }

      .text {
        font-size: 1.5rem;
        font-weight: 500;
        white-space: nowrap;
      }
    }
  }

  .label {
    padding: 2rem;
    font-weight: 500;
  }

  .balloon {
    padding: .5rem 1rem;
    border-radius: 1rem;
    margin: 0 2rem .5rem;
  }

  .question {
    align-self: flex-end;
    background-color: $color-primary;
    color: white;
    margin-left: 4rem;
  }

  .answer {
    align-self: flex-start;
    background-color: $color-quaternary;
    color: $color-secondary;
    margin-right: 4rem;
  }

  .rate {
    align-self: center;
    margin-bottom: 2rem;

    .star {
      font-size: 2rem;
    }
  }
}
