@import "~common/constants";

.Upload {
  align-self: center;
  width: $width-body-narrow;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;

  .top {
    margin-bottom: 2rem;
    align-self: stretch;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-divider;
    display: flex;
    flex-direction: column;

    .title {
      font-size: $font-size-largest;
      font-weight: bold;
      margin-bottom: .5rem;
    }

    .description {
      font-size: $font-size-small;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .essay {
      display: flex;
      height: 20rem;
      align-items: stretch;
      margin-bottom: 1rem;

      .drop {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .icon {
          font-size: 4rem;
          margin-bottom: .5rem;
        }

        .placeholder {
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border: 4px dashed $color-divider;
        }

        .file {
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }

      .divider {
        position: relative;
        width: 1px;
        background-color: $color-divider;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:after {
          content: 'or';
          position: absolute;
          background-color: $color-background;
          color: $color-font-dim;
          padding: .5rem;
          line-height: 1rem;
        }
      }

      .paste {
        flex: 1;
        box-sizing: border-box;

        .textarea {
          flex: 1;
        }
      }
    }

    .upload {
    }
  }
}
