@import "~common/constants";

.Review {
  align-self: center;
  max-width: $width-body-wide;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  .searchBar {
    position: relative;
    display: flex;
    align-items: center;
    width: $width-body-narrow;
    margin-bottom: 1rem;

    .icon {
      position: absolute;
      padding: 1rem;
      pointer-events: none;
    }

    .field {
      flex: 1;

      .search {
        font-size: $font-size-large;
        padding: .5rem .5rem .5rem 2.7rem;
      }
    }
  }

  .filterBar {
    width: $width-body-narrow;

    .field {
      flex: 1;
      margin-right: 2rem;

      &:last-child {
        margin-right: 0;
      }

      .filter {
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none;
        border-bottom: 2px solid $color-font;
        padding: .2rem;
        height: auto;
      }
    }
  }

  .essays {
    align-self: stretch;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .essayThumbnail {
      width: 16rem;
      height: 16rem;
      margin: 2rem;
    }
  }
}
