@import "~common/constants";

.Join {
  flex: 1;
  padding-top: $height-navigation;
  display: flex;
  align-items: center;
  justify-content: center;

  .dialog {
    .recaptcha {
      align-items: center;
    }
  }
}
