@import "~common/constants";

.Login {
  flex: 1;
  padding-top: $height-navigation;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    padding: 2rem;
    width: 20rem;
    border: 1px solid #DDDDDD;
    border-radius: 5px;

    .field {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .label {
        font-size: $font-size-small;
        font-weight: bold;
        margin-bottom: .2rem;
      }
    }

    .link {
      margin-top: .2rem;
      align-self: flex-end;
      font-size: $font-size-small;
    }
  }
}
