$font-size-largest: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;

$color-background: #EEEEEE;
$color-font: #444444;
$color-font-dim: #888888;
$color-highlight: #3958AE;
$color-highlight-dim: #7387C2;
$color-divider: #CCCCCC;
$color-accepted: #66bb6a;
$color-rejected: #e57373;
$color-waitlisted: #b39ddb;

$height-navigation: 4rem;
$width-body-wide: 80rem;
$width-body-narrow: 40rem;
