$font-size-largest: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;

$color-primary: rgb(205, 47, 115);
$color-secondary: rgb(5, 7, 7);
$color-tertiary: #666666;
$color-quaternary: #dddddd;
$color-star: #fdd835;

$height-navigation: 4rem;
$width-body-wide: 80rem;
$width-body-medium: 60rem;
$width-body-narrow: 40rem;
